.system-menu-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    margin: 20px 0px;
    /* margin-top: 10px; */
    /* overflow-x: scroll; */
    /* height: 180px; */
    
}
.system-menu-list-item img:hover{
    border: 3px solid #0df30dc4;
    padding: 2px;
}
.system-menu-list-item img{
    width: 3vw;
    /* min-width: 50px; */
    cursor: pointer;
    border-radius: 20%;
    transition: 0.2s;
    /* margin-top: 25px; */
}
.system-menu-list-item p{
    font-size: 13px;
    font-weight: 500;
}
.system-menu-list-item .active{
    border: 3px solid #0df30dc4;
    padding: 2px;
}